/* Fichier CSS pour éviter le bug des balises styles qui s'accumulent dans le head, pour l'animation de la pépite login / register */

@keyframes shineAnimation {
  0% {
    opacity: 0;
    transform: scale(0.6);
  }
  50% {
    opacity: 1;
    transform: scale(0.75);
  }
  100% {
    opacity: 0;
    transform: scale(0.75);
  }
}
  
/* Style de base pour les étoiles de brillance de la page login / register */
.animatedShine {
  animation: 3s linear forwards;
  transform-origin: center;
  animation-name: shineAnimation;
  filter: blur(0.5px);
}

.reset {
  animation: none;
  opacity: 0;
}
  
@keyframes particle0 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(23px, 12px); opacity: 0; } 
}

@keyframes particle1 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(23px, -16px); opacity: 0; } 
}

@keyframes particle2 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(23px, -7px); opacity: 0; } 
}

@keyframes particle3 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(-23px, -7px); opacity: 0; } 
}

@keyframes particle4 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(-23px, -15px); opacity: 0; } 
}

@keyframes particle5 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(-19px, 18px); opacity: 0; }
}

@keyframes particle6 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(-13px, 20px); opacity: 0; }
}

@keyframes particle7 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(11px, 21px); opacity: 0; }
}

@keyframes particle8 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(16px, -23px); opacity: 0; }
}

@keyframes particle9 {
  0% { transform: translate(0, 0); opacity: 1; }
  100% { transform: translate(-17px, -18px); opacity: 0; }
}

.particles {
  position: absolute;
  animation-duration: 'inherit';
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
  opacity: 0;
}

.animatedParticles0 {
  animation-name: particle0;
}

.animatedParticles1 {
  animation-name: particle1;
}

.animatedParticles2 {
  animation-name: particle2;
}

.animatedParticles3 {
  animation-name: particle3;
}

.animatedParticles4 {
  animation-name: particle4;
}

.animatedParticles5 {
  animation-name: particle5;
}

.animatedParticles6 {
  animation-name: particle6;
}

.animatedParticles7 {
  animation-name: particle7;
}

.animatedParticles8 {
  animation-name: particle8;
}

.animatedParticles9 {
  animation-name: particle9;
}

@keyframes thumbs-up {
  0% {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
  10% {
    transform: rotate(-3deg) scale(1) translateX(0px) translateY(0px);
  }
  20% {
    transform: rotate(-6deg) scale(1) translateX(0px) translateY(0px); 
  }
  30% {
    transform: rotate(-24deg) scale(1.05) translateX(-0.5px) translateY(-1px);
  }
  40% {
    transform: rotate(-40deg) scale(1.15) translateX(-1px) translateY(-3px);
  }
  50% {
    transform: rotate(-65deg) scale(1.4) translateX(-2px) translateY(-5px);
  }
  60% {
    transform: rotate(-40deg) scale(1.15) translateX(-1px) translateY(-3px);
  }
  70% {
    transform: rotate(-24deg) scale(1.05) translateX(-0.5px) translateY(-1px);
  }
  80% {
    transform: rotate(-10deg) scale(1) translateX(0px) translateY(0px);
  }
  90% {
    transform: rotate(15deg) scale(1) translateX(0px) translateY(0px);
  }
  100% {
    transform: rotate(0deg) scale(1) translateX(0px) translateY(0px);
  }
}

.like-anim {
  animation-name: thumbs-up;
  animation-duration: 0.7s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}

@keyframes diamond-bounce {
  0% {
    transform: translateY(0px) scale(1);
  }
  10% {
    transform: translateY(-0.5px) scale(1);
  }
  20% {
    transform: translateY(-1px) scale(1);
  }
  30% {
    transform: translateY(-2px) scale(1);
  }
  40% {
    transform: translateY(-3px) scale(1);
  }
  50% {
    transform: translateY(-4px) scale(1.05);
  }
  60% {
    transform: translateY(-5px) scale(1.1);
  }
  70% {
    transform: translateY(-5px) scale(1.2);
  }
  80% {
    transform: translateY(-2px) scale(1.2);
  }
  90% {
    transform: translateY(5px) scale(1.1);
  }
  100% {
    transform: translateY(0px) scale(1);
  }
}

.gold-anim {
  animation-name: diamond-bounce;
  animation-duration: 0.35s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  transform-origin: center;
}